*{
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
    justify-content: center;
}

.portfolio {
  text-align: center;
  font-family: Arial, sans-serif;
}

.name {
  color: blue;
}

.section {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f2f2f2;
  margin: 5px;
  padding: 8px;
  color: black;
}
