body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.todo-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  /* width: 70%; */
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 8px 12px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #e74c3c;
  padding: 5px 10px;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #c0392b;
}
