.about-page {
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
  color: white;
}

.about-page h1 {
  text-align: center;
  color: #4A70A9; /* Updated Color */
}

.simple-box {
  background-color: #1e1e1e;
  padding: 20px;
  border: 1px solid #4A70A9; /* Added color to border */
  border-radius: 8px;
  margin-bottom: 20px;
}

.simple-box h3 {
  color: #4A70A9; /* Updated Color */
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.project-item strong {
  color: #4A70A9; /* Updated Color */
}