.home-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.intro-text {
  color: #4A70A9; /* Updated Color */
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.hero-simple h1 {
  font-size: 3rem;
}

.hero-simple h1 span {
  color: #4A70A9; /* Updated Color */
}

.btn-work {
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #4A70A9; /* Updated Color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}